{% load static %}
@font-face {
    font-family: 'Simple-Line-Icons';
    src: url("{%static 'fonts/Simple-Line-Icons.eot' %}");
    src: url("{%static 'fonts/Simple-Line-Icons.eot' %}?#iefix") format("embedded-opentype"), url("{%static 'fonts/Simple-Line-Icons.woff' %}") format("woff"), url("{%static 'fonts/Simple-Line-Icons.ttf' %}") format("truetype"), url("../fonts/Simple-Line-Icons.svg#Simple-Line-Icons") format("svg");
    font-weight: normal;
    font-style: normal; }
    .background-1 {
       background-image: url({% static 'images/backgrounds/bg-1.png'%}); }
    
    .background-2 {
       background-image: url({% static 'images/backgrounds/bg-2.png'%}); }
    
    .background-3 {
       background-image: url({% static 'images/backgrounds/bg-3.png'%}); }
    
    .background-4 {
       background-image: url({% static 'images/backgrounds/bg-4.png'%}); }
    
    .background-5 {
       background-image: url({% static 'images/backgrounds/bg-5.png'%}); }
    
    .background-6 {
       background-image: url({% static 'images/backgrounds/bg-6.png'%}); }
    
    .background-7 {
       background-image: url({% static 'images/backgrounds/bg-7.png'%}); }
    
    .background-8 {
       background-image: url({% static 'images/backgrounds/bg-8.png'%}); }
    
    .background-9 {
       background-image: url({% static 'images/backgrounds/bg-9.png'%}); }
    
    .background-10 {
       background-image: url({% static 'images/backgrounds/bg-10.png'%}); }
    
    .background-11 {
       background-image: url({% static 'images/backgrounds/bg-11.png'%}); }
    
    .background-12 {
       background-image: url({% static 'images/backgrounds/bg-12.png'%}); }
    
    .background-13 {
       background-image: url({% static 'images/backgrounds/bg-13.png'%}); }
    
    .background-14 {
       background-image: url({% static 'images/backgrounds/bg-14.png'%}); }
    
    .background-15 {
       background-image: url({% static 'images/backgrounds/bg-15.png'%}); }
    
    .background-16 {
       background-image: url({% static 'images/backgrounds/bg-16.png'%}); }
    
    .background-17 {
       background-image: url({% static 'images/backgrounds/bg-17.png'%}); }
    
    .background-18 {
       background-image: url({% static 'images/backgrounds/bg-18.png'%}); }
    
    .background-19 {
       background-image: url({% static 'images/backgrounds/bg-19.png'%}); }
    
    .background-20 {
       background-image: url({% static 'images/backgrounds/bg-20.png'%}); }
